# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules
jspm_packages

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build

# Typescript v1 declaration files
typings

# Optional npm cache directory
.npm
