@import './common.scss';

li.movie {
    width: 10rem;
    margin: 2rem;
    display: inline-grid;
    height: 15rem;
    border-radius: 12px;
    border: solid 1px lightgrey;
    font-size: 1rem;
    cursor: pointer;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.03) 80%, rgba(0, 0, 0, 0.1) 150%);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    user-select: none;

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    
    &.current {
        float:left;
        width: 90%;
        margin-left: 5%;
        height: auto;
        background-size: initial;
        background-position: center top;

        @media (min-width: $breakpoint-tablet) {
            height: 30rem;
            background-size: contain;
            background-position: left;
        }

        .details {
            display: inline-block;
        }
    }

    .details {
        display: none;
        text-align: left;
        line-height: 2em;
        margin: 33rem 1rem 1rem 1rem;
        @media (min-width: $breakpoint-tablet) {
            margin: 1rem 1rem 1rem 22rem;
        }
    }
}
