@import '../common.scss';

fieldset {
    border: none;
    margin: 0 5%;
}

input[type="search"] {
    line-height: 3rem;
    border: solid 1px lightgrey;
    font-size: 1.5rem;
    width: 100%;
    border-radius: 5px;
    display: inline-flex;
    float: left;
    padding: .3rem;

    @media (min-width: $breakpoint-tablet) {
        width: 55%;
    }

    &:focus {
        outline: none;
    }    
}


#search-component {
    position: fixed;
    width: 96%;
    background-image: linear-gradient(to top, rgba(255,255,255,.9), #fff, #fff, #fff );
    display: block;
    opacity: 1;
    z-index: 10;
    top: 0;
    margin: .5rem;
    text-align: center;
    margin-top: 0;
    padding-top: 1.5rem;

    #rating {
        margin-top: .5rem;
        width: 15rem;

        @media (min-width: $breakpoint-tablet) {
            margin-top: 0;
            float: right;
        }

        .icon:hover svg,
        .icon:hover ~ .icon svg {
            fill: orange;
        }
    }
}
